<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="uEyeCameraInterface.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <uEyeCameraInterface.My.MySettings>
            <setting name="Acolor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Bcolor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="AxisColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="RatioOKcolor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="RatioCloseColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="RatioBadColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Alocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Blocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DataFilterWindow" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IntensityBarPercent" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="RatioColorActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OKval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OKval_max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OKval_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Close_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Close_max" serializeAs="String">
                <value>0</value>
            </setting>
        </uEyeCameraInterface.My.MySettings>
    </userSettings>
</configuration>
